@model TecGas.Models.Cli_Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Nome)
        </dd>
        <dt class = "col-sm-2">
            CNPJ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_CNPJ)
        </dd>
        <dt class = "col-sm-2">
           Endereço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Endereco)
        </dd>
        <dt class = "col-sm-2">
           Telefone
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Telefone)
        </dd>
        <dt class = "col-sm-2">
           E-mail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodigoClienteId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
